.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

}

.input-label {
  display: block;
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  margin-top: 8px;
  width: 100%;
  margin-bottom: 32px;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #838383;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
 width: 100%;
 padding: 20px 0;
 margin-bottom: 32px;
 border-radius: 4px;
 border: 1px solid #838383;
 background-color: #1878DC;
 color: #fff;
 font-family: Inter, Arial, sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 20px;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 0.5s;
}
.terms {
  display: flex;
  justify-content: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.terms__box {
  margin-right: 12px;
  height: 20px;
  width: 20px;
}
